/* 
    Created on : 04.01.2018, 09:40:03
    Author     : opodlubnaja
*/

.startPane {
    -fx-padding: 10px;
    -fx-background-image: url("background_image.jpg");
    -fx-background-size: 640 640;

}

.eigPane, .kostenPane, .buchPane {
    -fx-background-color: lightblue;
    -fx-padding: 10px;
}

.startTitle {
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
    -fx-alignment: CENTER;
}

.startText {
    -fx-text-fill: white;
    -fx-font-size: 1.4em;
    -fx-alignment: CENTER;
}



#dpDate, #tfKontonr, #tfBeschreibung {
    -fx-pref-width: 200px;

}

#dpDate {
    -fx-show-week-numbers: true;
}

.tfKonto {
    -fx-background-color: lightgray;
}

.tf, .tfKontonr, .tfKonto {
    -fx-pref-width: 200px;
}

#tfBetrag {
    -fx-pref-width: 100px;
}



#tblAnzeige {
    -fx-pref-width: 600px;
    -fx-pref-height: 350px;
}

#colNummer {
    -fx-pref-width: 100px;
    -fx-alignment: CENTER;
}

#colName {
    -fx-pref-width: 210px;
    -fx-alignment: CENTER_LEFT;

}

#colWhgnummer {
    -fx-pref-width: 170px;
    -fx-alignment: CENTER;
}

#colKontostand {
    -fx-pref-width: 100px;
    -fx-alignment: CENTER_RIGHT;
}



.egrid {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 10px;
}

.vbox {
    -fx-spacing: 15px;
    -fx-alignment: CENTER;

}

.hbox {
    -fx-spacing: 50px;

}

.hboxBuch {
    -fx-spacing: 10px;
}

/*Buttons*/

.button {
    -fx-pref-width: 150px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-text-fill: white;

}

.btnBuchung {
    -fx-pref-height: 100px;
}

.btnNeu, .btnAendern, .btnLoeschen {
    -fx-pref-height: 30px;
    -fx-background-color: linear-gradient(#1e9cb5, #7eb1b0);
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-padding: 5 30 5 30;
    -fx-background-radius: 20;

}

.btnNeu {
}

.btnAendern {

}

.btnLoeschen {
}

/* Info */

.apInfo {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, #9cb3b5, 50, 0, 0, 0);
    -fx-background-radius: 20;
}

/*Info Labels*/

.lblInfoName {
    -fx-text-fill: #2f5dff;
    -fx-font-size: 1.2em;
    -fx-font-weight: bolder;    
    -fx-padding: 20px;    
}

/*Labels*/
#lblStand {
    -fx-pref-width: 600px;
    -fx-padding: 2px;
    -fx-alignment: CENTER_RIGHT;
    -fx-text-fill: black;
    -fx-font-weight: bolder;    
}
#lblStatus {
    -fx-background-color: #9cb3b5;
    -fx-pref-width: 600px;
    -fx-font-weight: bold;
    -fx-border-color: #1e9cb5;
    -fx-border-width: 2px;
}
.lbl {
    -fx-pref-width: 120px;
    -fx-alignment: CENTER_RIGHT;
}